body{
    font-family: Poppins;
    background-color: #a0ceef;
}

ul{
    padding-bottom: 0.3em;
}

ul a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

p{
    margin: 0;
}

ul a:hover{
    color: #e64a19;
    transition: 0.5s;
}

.infos{
    margin: 2em;
    padding: 1em;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body ol ul div{
    display: none;
}

h2{
    margin: 0;
    font-size: large;
    transition: 1s;
}

#pie{
    flex-basis: 50%;
    width: 80%;
}

#rank{
    flex-basis: 50%;
    text-align: center;
}

#rank h3{
    font-size: xxx-large;
}

