body{
    font-family: Poppins;
    background-color: #a0ceef;
}

ul{
    padding-bottom: 0.3em;
}

ul a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

p{
    margin: 0;
}

ul a:hover{
    color: #e64a19;
    transition: 0.5s;
}

body > div{
    margin: 2em;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
}

body ol ul div{
    display: none;
}

h2{
    margin: 0;
    font-size: large;
    transition: 1s;
}

#pie{
    width: 80%;
    flex-basis: 50%;
}